.section-header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  border-radius: 8px;
}

.section-header:hover {
  background-color: #f6f6f6;
}

.section-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.arrow.expanded {
  transform: rotate(180deg);
}
